model_config_list {
    config {
        name: 'dog_breed',
        base_path: '/models/dog_breed',
        model_platform: 'tensorflow',
        model_version_policy {
          specific {
            versions: 9,
            versions: 10
          }
        },
        version_labels {
          key: 'prod',
          value: 9
        },
        version_labels {
          key: 'canary',
          value: 10
        }
    }
}

