.BreadList {
    padding: 20px;
    background-color: pink;
}
.BreadListTitle {
    padding: 0;
    margin: 0;
}

.BreedItems {
    columns: 6;
    -webkit-columns: 6;
    -moz-columns: 6;
}

.BreedItem {
    text-align: left;
}

.BreedItemHighlight {
    text-align: left;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}